<header class="QuemSomos text-center text-white">
  
    <section style="padding-top: 15%;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
  
            <h1 style="font-weight: 700;
              font-size: 60px;">Quem somos</h1>
  
          </div>
        </div>
      </div>
    </section>
  
  </header>
  
  
  <section id="" style="margin: 0 auto;
    width: 80%;
    margin-top: -10%; background-color: #fff; padding-bottom: 0px;">
    <div class="container" style="margin-top: -8%;">
      <div class="row">
        <div class="col-lg-6 text-left" style="font-size: 20px; color: gray;
          padding: 3%;">
  
          <p>
  
            Somos uma Startup (Empresa emergente que oferece soluções inovadoras e
            de alto impacto). Atuamos nas áreas de Turismo, Marketing e Tecnologia</p>
          <p>
  
            Nascemos em 2014 com o objetivo de otimizar as relações entre
            viajantes e o trade turístico.
  
          </p>
  
          <p>
            Nosso nome representa o nosso principal objetivo. Utilizamos de alguns
            artifícios da língua inglesa para dizer de uma forma abrasileirada
            que: nós, por meio da tecnologia, queremos ajudar você a curtir sua
            folga, pois entendemos sua necessidade e somos especialistas em
            viagens.
  
          </p>
 
  
        </div>
  
        <div class="col-lg-1 text-center"></div>
  
        <div class="col-lg-4 text-center" style="width: 100%;">
  
          <div style="background-color: #fafafa; padding: 15%;">
            <span style="color: #396726; font-size: 100px;" class="icon-travel
              icon-medium"></span>
  
            <br />
            <br />
  
            <p style="color: #396726; font-size: 20px;">
  
              Atendemos viajantes e temos vendedores espalhados por todo o Brasil
              para oferecer sempre as melhores opções de viagem.
  
            </p>
  
          </div>
        </div>
      </div>
    </div>
  
  
  </section>
  
  