 .entrar input:not([type='checkbox']) 
    {
        border-radius: 10px;
        height: 60px;
        padding: 5%;
        border: 2px solid #cac8c8;
        font-style: italic;
        font-size: 1.1em;
        color: #757373;
        width: 100%;
    }

    .btn-cadastre-se {
        color: #fff ;
        border-radius: 15px !important;
        border: 3px solid #3b5999; 
        background: #3b5999 ;
        font-weight: 700;
        font-size: 19px;
        width: 100%;
        text-transform: none;
        padding: 2.7%;
        margin: 0% 0 0% 0;
        font-size: 1.3em;
        font-weight: 500;
    }