  .SejaUmParceiro .borderIcon{
        border: 1px solid #e6e0c3;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 5%;
        margin: 0 auto;
        color: #6DBE4C;
    }
            
   .SejaUmParceiro .icon-big
    {
            font-size: 60px;
    }
            
   .SejaUmParceiro .sr-button{
        margin-bottom: 3%;
    }