<header class="masthead text-center text-white">
    
      <br />
      <br />
      <br />
    
      <section style="padding: 1rem 0;margin-top: 11%;">
        <div class="container-fluid my-auto">
          <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
              <h1 class="text">
                <strong>Seu novo jeito de organizar viagens!</strong>
              </h1>
            </div>
            <div class="col-lg-12 mx-auto">
              <h4 class="text-faded mb-5">Peça sua viagem e só se preocupe com
                fazer as malas!</h4>
            </div>
          </div>
        </div>
      </section> 
    
    </header>
    
    <section class="" style="background-color: #f3f3f3;padding-bottom:
      5%;padding-top: 7%;" id="pacotes">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading" style="font-weight: 700; color:
              #524040;">Os melhores pacotes</h2>
    
    
            <section class="wrapper">
              <div class="container-fostrap">
    
                <div class="content">
                  <div class="container">
                    <div class="row">
                      <!--<div class="col-xs-12 col-sm-4">
                        <div class="card">
                          <a class="img-card" href="#">
                            <img                          
                              src="http://lorempixel.com/400/270"
                              />
                          </a>
                          <div class="card-content">
                            <h4 class="card-title">
                              <a href="#"> NEW YORK
                              </a>
                            </h4>
                            <p class="">
                              FSDFSDF
                            </p>
                          </div>
                          <div class="card-read-more">
                            <div style="width: 30%; float: left;">
                              <span class="icon-sun icon-medium"></span> <p>4
                                diárias</p>
                            </div>
                            <div style="width: 30%; float: left;">
                              <span class="icon-dinner icon-medium"></span> <p>All
                                inclusive</p>
                            </div>
                            <div style="width: 40%; float: left;">
                              <p>a partir de </p> <h5 style="color: green;
                                font-size: 25px;
                                font-weight: 700;">R$2000</h5>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="col-xs-12 col-sm-4">
                        <div class="card">
                          <a class="img-card" href="#">
                            <img
                              src="http://lorempixel.com/400/270"
                              />
                          </a>
                          <div class="card-content">
                            <h4 class="card-title">
                              <a href="#"> NEW YORK
                              </a>
                            </h4>
                            <p class="">
                              FSDFSDF
                            </p>
                          </div>
                          <div class="card-read-more">
                            <div style="width: 30%; float: left;">
                              <span class="icon-sun icon-medium"></span> <p>4
                                diárias</p>
                            </div>
                            <div style="width: 30%; float: left;">
                              <span class="icon-dinner icon-medium"></span> <p>All
                                inclusive</p>
                            </div>
                            <div style="width: 40%; float: left;">
                              <p>a partir de </p> <h5 style="color: green;
                                font-size: 25px;
                                font-weight: 700;">R$2000</h5>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="col-xs-12 col-sm-4">
                        <div class="card">
                          <a class="img-card" href="#">
                            <img
                              src="http://lorempixel.com/400/270"
                              />
                          </a>
                          <div class="card-content">
                            <h4 class="card-title">
                              <a href="#"> NEW YORK
                              </a>
                            </h4>
                            <p class="">
                              FSDFSDF
                            </p>
                          </div>
                          <div class="card-read-more">
                            <div style="width: 30%; float: left;">
                              <span class="icon-sun icon-medium"></span> <p>4
                                diárias</p>
                            </div>
                            <div style="width: 30%; float: left;">
                              <span class="icon-dinner icon-medium"></span> <p>All
                                inclusive</p>
                            </div>
                            <div style="width: 40%; float: left;">
                              <p>a partir de </p> <h5 style="color: green;
                                font-size: 25px;
                                font-weight: 700;">R$2000</h5>
                            </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="col-md-12" style="display: block"
                        style="margin: 0 auto;height: 100%;">
    
                        <div class="" style="margin: 0 auto;height: 100%;width:
                          40%; margin-top: 3%;
                          width: 30%;">
                          <span style="width: 8%;
                            float: left;
                            display: block;
                            max-width: 50px;
    
    
                            margin-left: 30%; border: 3px solid rgba(0,0,0,.1);">
                          </span>
                          <span style="width: 8%;
                            float: left;
                            display: block;
                            max-width: 50px;
    
    
                            margin-left: 5%; border: 3px solid rgba(0,0,0,.1);">
                          </span>
                          <span style="width: 8%;
                            float: left;
                            display: block;
                            max-width: 50px;
    
    
                            margin-left: 5%; border: 3px solid rgba(0,0,0,.1);">
                          </span>
    
                        </div>
                      </div>-->
    
                    </div>
                  </div>
                </div>
                <div class="todos-pacotes">
                  <!-- principais pacotes,   ultimos cadastrados , 9 itens com carousel-->
                    VER TODOS OS PACOTES
                </div>
              </div>
             
            </section>
    
          </div>
         
          
        </div>
      </div>
    </section>
    
    <section id="vantagens">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 style="color: #29749d;font-weight: 700;"
              class="section-heading">Porque viajar com iuoff? </h2>
    
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <span style="color: #29749d;" class="icon-piggy-bank icon-big"></span>
              <h4 class="mb-3" style="color: gray;">Economize! </h4>
              <p class="text-muted mb-0">Você diz quanto quer pagar e ainda
                ganha tempo no planejamento e aquisição da sua viagem.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <span style="color: #29749d;" class="icon-checklist icon-big"></span>
              <h4 class="mb-3" style="color: gray;">Garanta a melhor proposta!</h4>
              <p class="text-muted mb-0">Profissionais especializados em turismo
                irão te oferecer as melhores propostas para a sua viagem.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <span style="color: #29749d;" class="icon-user icon-big"></span>
              <h4 class="mb-3" style="color: gray;">Fique seguro!</h4>
              <p class="text-muted mb-0">Tenha suporte profissional em todas as
                fases da sua viagem, além de formas de pagamento diferenciadas.</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <a style="color: #29749d;border-radius: 15px; border: 3px solid
                #29749d; background: white;" class="btn btn-light btn-xl
                sr-button" href="#">SOLICITAR VIAGEM</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="p-0" id="seja-parceiro">
      <div class="container-fluid p-0">
        <div class="row">
    
          <div class="col-lg-6 col-md-12 text-center">
    
            <img width="100%" height="100%" src="assets/img/home/imagem-parceiro.jpg"
              class="custom-logo" alt="Parceiro" itemprop="logo"
              srcset="assets/img/home/imagem-parceiro.jpg 768w" sizes="(max-width:
              858px) 100vw, 858px">
    
          </div>
    
          <div class="col-lg-6 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
    
              <a style="font-size: 20px;color: #6ebb52;border-radius: 5px;
                border: none; background: #fcfdf2;" class="btn btn-light btn-xl
                sr-button" href="#">Seja um parceiro</a>
              <br />
              <br />
    
              <p>
    
                Você que possui uma agência de viagens, é um profissional do
                setor de turismo, ou gostaria de se profissionalizar nessa área,
                <strong>cadastre-se iremos potencializar a captação de clientes,
                  ampliar sua área de alcance e alavancar sua rentabilidade.
                </strong>
                <br />
                <br />
                <br />
                <br />
              </p>
    
              <a style="margin-bottom: 5%; color: #6ebb52;border-radius: 15px;
                border: 3px solid #6ebb52; background: white;" class="btn
                btn-light btn-xl sr-button" href="/SejaUmParceiro.html">Saiba
                mais</a>
    
    
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="p-0" id="quem-somos">
      <div class="container-fluid p-0">
        <div class="row">
    
          <div class="col-lg-12 col-md-12">
    
            <img width="100%" height="100%"
              src="/assets/img/home/imagem-oqtemdebom.jpg" class="custom-logo" alt="O
              que tem de bom" itemprop="logo"
              srcset="/assets/img/home/imagem-oqtemdebom.jpg 768w" sizes="(max-width:
              1000x) 100vw, 858px">
    
          </div>
    
          <div class="container text-center">
            <h1 class="mb-4">Encontre <strong>O Que Tem de Bom </strong> no
              melhor </h1>
            <h1>portal de Turismo do Brasil</h1>
            <br />
            <h3 class="text-muted mb-0">Opções de hospedagem, alimentação,
              atrações, locais para compras, prestadores de serviços, eventos e
              muito mais.</h3>
            <br />
            <br />
            <a style="color: #fe845d;border-radius: 15px; border: 3px solid
              #fe845d; background: white;" class="btn btn-light btn-xl
              sr-button" href="#">Quero conhecer</a>
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </section>
    <!-- #TODO , refazer modal -->
    <div class="modal" id="modal-oqtdb" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div style="" class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span style="font-size: 2.2em;
                    font-weight: 100;" aria-hidden="true">&times;</span>
                </button>
              </div>
    
              <div class="modal-body">
    
                <!-- required="" -->
                <div>
                  <h3>
                    REFAZER MODAL DE SOLICITAÇÃO
                  </h3>
                </div>
               
                <form class="demo-form hide" hidden>
    
                  <div class="form-section">
    
                    <h5 class="modal-title" id="exampleModalLabel">Preencha os
                      campos e veja os melhores pacotes...</h5>
    
    
                    <section style="padding: 0;" class="cadastra-se-popup"
                      id="portfolio">
    
                      <div class="container-fluid">
                        <div class="row">
    
    
                          <form style="color: #414141;">
    
    
                            <div class="col-lg-6 col-md-6 text-left" style="width:
                              100%; margin-bottom: 3%; background: #f7f7f7;padding:
                              5%;">
                              <h5 style="color: #3b5999;">Cidade de origem </h5>
                              <input style="width:100%;" placeholder="Insira uma
                                cidade" />
                            </div>
    
                            <div class="col-lg-6 col-md-6 text-left" style="width:
                              100%; margin-bottom: 3%; background: #f7f7f7;padding:
                              5%;">
                              <h5 style="color: #3b5999;"> Período disponível para
                                viajar</h5>
    
                              <div class="input-group date" style="width: 49%;float:
                                left">
                                <input type="text" placeholder="De"
                                  class="form-control"><span
                                  class="input-group-addon"><i class="glyphicon
                                    glyphicon-calendar"></i></span>
                              </div>
    
    
                              <div class="input-group date" style="width: 49%;
                                padding-left: 3%;">
                                <input placeholder="Até" type="text"
                                  class="form-control"><span
                                  class="input-group-addon"><i class="glyphicon
                                    glyphicon-calendar"></i></span>
                              </div>
    
                            </div>
    
                            <div class="col-lg-6 col-md-6 text-left" style="width:
                              50%; margin-bottom: 3%;padding: 5%;">
    
                              <div style="width: 100%;">
                                <h5 style="color: #3b5999; width: 40%;
                                  float: left;"> Quero ficar </h5>
                                <p style="color: lightgray; width: 60%;
                                  float: left;font-style: italic;">Ex: De 05 a 10
                                  dias</p>
                              </div>
    
                              <div class="input-group date" style="width:80%;float:
                                left"> <span style="margin-top: 3%;width: 20%;"> De</span>
                                <input type="text" placeholder="00"
                                  class="form-control"><span
                                  class="input-group-addon"><i class="glyphicon
                                    glyphicon-calendar"></i></span>
    
                                <span style="width: 20%;margin-top: 3%;padding-left:
                                  2%;"> a</span>
                                <input placeholder="10" type="text"
                                  class="form-control"><span
                                  class="input-group-addon"><i class="glyphicon
                                    glyphicon-calendar"></i></span>
    
                              </div>
    
    
                              <span style="width: 20%;margin-top: 3%;padding-left:
                                2%;"> dias </span>
                            </div>
    
    
                            <div class="col-lg-6 col-md-6 text-left" style="width:
                              100%; margin-bottom: 3%; padding: 5%;">
    
    
                              <div class="input-group" style="width: 50%;float:
                                left"> <h5 style="color: #3b5999;width: 100%;">
                                  Quartos</h5>
                                <input type="text" placeholder="1 quarto"
                                  class="form-control"><span
                                  class="input-group-addon"><i class="glyphicon
                                    glyphicon-calendar"></i></span>
                              </div>
    
    
                              <div class="input-group" style="width: 50%;
                                padding-left: 3%;">
                                <h5 style="color: #3b5999;width: 100%;"> Viajantes</h5>
                                <input placeholder="1 pessoa" type="text"
                                  class="form-control"><span
                                  class="input-group-addon"><i class="glyphicon
                                    glyphicon-calendar"></i></span>
                              </div>
                            </div>
    
    
                            <div class="col-lg-12 col-md-12 text-left" style="width:
                              100%; margin-bottom: 3%;padding: 5%;">
                              <h5 style="color: #3b5999;width: 100%;"> Incluir:</h5>
                              <div class="button-group">
                                <input id="checkbox1" type="checkbox">
                                <label class="button" for="checkbox1">Hospedagem</label>
                                <input id="checkbox2" type="checkbox">
                                <label class="button" for="checkbox2">Passagens</label>
                                <input id="checkbox3" type="checkbox">
                                <label class="button" for="checkbox3">Traslados</label>
                                <input id="checkbox4" type="checkbox">
                                <label class="button" for="checkbox4">Passeios</label>
                                <input id="checkbox5" type="checkbox">
                                <label class="button" for="checkbox5">Aluguel de
                                  carro</label>
                                <input id="checkbox6" type="checkbox">
                                <label class="button" for="checkbox6">Ingressos</label>
                              </div>
    
    
                            </div>
    
    
    
                          </form>
    
                        </div>
                      </div>
                    </section>
    
    
                  </div>
    
                  <div class="form-section">
                    <section style="padding: 0;" class="cadastra-se-popup two"
                      id="portfolio">
    
                      <div class="container-fluid">
                        <div class="row">
    
                          <div class="col-lg-12 col-md-12 text-left"
                            style="margin-top: -10%;width: 100%; margin-bottom:
                            3%;padding: 5%;">
                            <form style="color: #414141;">
                              <h5 style="color: #3b5999;width: 100%;"> Qual é o seu
                                estilo de viagem?</h5>
    
                              <div class="button-group">
                                <input id="checkbox10" type="checkbox">
                                <label class="button" for="checkbox10">Casal</label>
                                <input id="checkbox20" type="checkbox">
                                <label class="button" for="checkbox20">Econômico</label>
                                <input id="checkbox30" type="checkbox">
                                <label class="button" for="checkbox30">Família</label>
                                <input id="checkbox40" type="checkbox">
                                <label class="button" for="checkbox40">Conforto</label>
                                <input id="checkbox50" type="checkbox">
                                <label class="button" for="checkbox50">Amigos de
                                  carro</label>
                                <input id="checkbox60" type="checkbox">
                                <label class="button" for="checkbox60">Experiência</label>
                              </div>
    
    
                              <h5 style="color: #3b5999;width: 100%;margin-top:
                                10%;"> Gostaria de informar mais algum detalhe?</h5>
                              <span style="width: 100%; padding-top: 5%;
                                padding-bottom: 5%;">Informar suas prefências, isso
                                ajuda nossos vendedores a oferece as melhores opções
                                de pacotes para você.</span>
    
    
    
                              <textarea style="width: 100%;
                                margin-top: 2%;" placeholder="Digite aqui suas
                                preferências..."> </textarea>
    
    
    
    
                            </form>
    
                          </div>
                        </div>
    
                      </div>
                    </section>
                  </div>
    
                  <div class="form-section">
    
                    <h5 class="modal-title" id="exampleModalLabel" style="color:
                      darkgray; font-style: normal;">Agora <strong>cadastra-se
                        gratuitamente,</strong> para receber os melhores pacotes.</h5>
                    <section style="padding: 0;" class="cadastra-se" id="portfolio">
                      <div class="container-fluid">
                        <div class="row">
    
                          <div style="" class="col-lg-12 col-md-12 text-left">
    
                            <a class="btn border-white btn-xl"style="border: 1px
                              solid #fff;color: #fff;background-color: #3b5999;
                              border-bottom: 0px; width: 70%; border-radius:
                              15px;border-bottom: 1px solid #fff; border-bottom:
                              0px; text-transform: none;width: 100%;font-size:
                              1.3em;margin-top: 2%;font-weight: 500;padding: 3%;"
                              href="#" onclick="Solicitacao.OpenPopupFormulario()">
                              Cadastrar usando Facebook</a>
    
                            <hr style="max-width: unset;border-width: 1.5px;
                              border-color: #d8d2d2;" />
    
                            <form style="color: #414141;">
    
                              <p style="color: gray;">Ou inscreva-se usando seu
                                email</p>
    
                              <div style="width: 100%; margin-bottom: 3%;">
                                <h4 style="color: #3b5999;width: 100%;">Nome</h4>
                                <input style="width: 100%;" placeholder="Digite seu
                                  nome completo" />
                              </div>
    
                              <div style="width: 100%; margin-bottom: 3%;">
                                <h4 style="color: #3b5999;">E-mail</h4>
                                <input style="width:100%;" placeholder="Digite seu
                                  e-mail" />
                              </div>
    
                              <div style="width: 100%; margin-bottom: 3%;">
                                <h4 style="color: #3b5999;">Telefone</h4>
                                <input style="width:100%;" placeholder="Digite aqui
                                  seu telefone" />
                                <div style="margin-top: 2%;">
                                  <input type="checkbox" />
                                  <span style="font-style: italic;">Este telefone é
                                    Whatsapp</span>
                                </div>
                              </div>
    
                              <div style="width: 100%; margin-bottom: 3%;">
                                <h4 style="width: 100%; color: #3b5999;">Senha</h4>
                                <input style="width:49%;float: left;border-radius:
                                  19px;" placeholder="Digite a senha"
                                  type="password" />
                                <input style="width:49%;margin-left:
                                  2%;border-radius: 19px;" placeholder="Confirme a
                                  senha" type="password" />
                                <p style="font-style: italic; color: gray;font-size:
                                  14px;padding-top: 4%;">
                                  * A senha deve conter no mínimo 6 dígitos sendo 1
                                  número, 1 letra maíuscula, 1 letra minúscula e 1
                                  símbolo.
                                </p>
                              </div>
    
    
                            </form>
    
    
                          </div>
    
    
    
                        </div>
                      </div>
                    </section>
    
    
    
                  </div>
    
    
    
                  <div class="form-navigation" hidden>
    
    
                    <button style="border: 1px solid #fff;color:
                      #fff;background-color: #6ebb51; border-bottom: 0px; width:
                      40%; border-radius: 15px;border-bottom: 1px solid #fff;"
                      type="button" class="btn border-white btn-xl previous btn
                      btn-info pull-left"> Voltar
                    </button>
    
    
                    <button style="border: 1px solid #fff;color:
                      #fff;background-color: #6ebb51; border-bottom: 0px; width:
                      40%; border-radius: 15px;border-bottom: 1px solid #fff;"
                      type="button" class="btn border-white btn-xl next btn btn-info
                      pull-right">Continuar</button>
    
    
                    <input type="submit" value="CONTINUAR" style="border: 1px solid
                      #fff;color: #fff;background-color: #6ebb51; border-bottom:
                      0px; width: 40%; border-radius: 15px;border-bottom: 1px solid
                      #fff;" class="btn border-white btn-xl next btn btn-info
                      pull-right">
    
    
                    <span class="clearfix"></span>
                  </div>
    
                </form>
    
              </div>
    
            </div>
          </div>
    </div>
    
