.banner, .banner img {
  width: 100%;
  height: auto;
  max-height: 560px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: -10px; 

 
}

.banner {
  &:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 110px;
    margin-top: -60px;
    left: 10%;
    background: #fff;
    z-index: 1;  

  }
}

.banner .banner-caption {
  color:$gray-200;
  text-shadow: 2px 2px $gray-900;
  font-size: 4em;
  width: 100%;
  height: auto;
  bottom: 150px;
  position: absolute;
  text-transform: uppercase;
}

.banner .banner-caption-small {
  color:$gray-200;
  text-shadow: 2px 2px $gray-900;
  font-size: 30px;
}

.page-with-banner {
  z-index: 99;
  position: relative; 
 
}

@media (max-width: 767px) {
  .banner, .banner img {
    min-height: 160px;
  }

  .banner .banner-caption{
    font-size: 1.5em;
  }
  
  .banner .banner-caption-small{
    font-size: 0.8em;
  }

  .banner {
    &:after{  
      content: "";
     display: none;  
    }
  }
} 

@media(min-width: 1025px) and (max-width: 1400px) {
  .banner {
    &:after{
      content: "";
      position: absolute;
      width: 95%;
      height: 110px;
      margin-top: -60px;
      left: 2.5%;
      background: #fff;
      z-index: 1;  
  
    }
  }
}
