
<footer class="footer" id="atendimento">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-1"></div>

      <div class="col-lg-5 col-md-12" style="float: left; text-align: left;">
        <div style="float: left; width: 100%">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img style="filter: grayscale(100%);" width="auto" height="160"
                 src="assets/img/logo.png" class="custom-logo" alt="IUOFF">
          </a>
        </div>
        <a ng-href="http://www.facebook.com/iuoff">
          <span style="font-size: 30px;" class="icon-facebook icon-medium"></span>
        </a>
        <span style="border-right: 1px solid rgba(0,0,0,.1);
            border-width: 3px;
            padding-left: 1%;
            margin-right: 2%;
            height: 100%;
            font-size: 30px;">
        </span>
        <a ng-href="http://www.instgram.com/iuoff">
          <span style="font-size: 30px; width:50px;" class="icon-instagram icon-medium"></span>
        </a>

        <p style="padding-top: 4%;">
          Somos uma Startup genuinamente brasileira
          criada com o objetivo de democratizar o turismo em nosso país e no
          mundo!
        </p>

        <a href="/QuemSomos.html" style="color: #0056b3;
            text-transform: uppercase;
            font-size: 14px;">Saiba mais</a>

        <br />
        <br />
        <br />

      </div>

      <span class="footerLine" style=""></span>
      <div class="col-lg-5 col-md-12 text-left">
        <div style="padding: 0px;
            margin-left: 0px !important;" class="service-box mt-5 mx-auto">

          <h2 style="color: #0f6492;font-weight: 700;">Atendimento ao cliente</h2>
          <br />
          <br />


          <h5>
            <span style="font-size: 30px;padding-right: 2%" class="icon-mail
                icon-medium"></span>
            contato@iuoff.com
          </h5>
          <hr style="max-width: 100%; border-color: rgba(0,0,0,.1);" />

          <h5>
            <span style="font-size: 30px;padding-right: 2%"
                  class="icon-whatsapp-logo"></span>
            (31) 986901933
          </h5>
          <br />

        </div>
      </div>

      <div class="col-lg-1"></div>


    </div>
  </div>
</footer>
